{% extends "base.html.j2" %}

{%block title%}Kejda{%endblock%}

{% block obsah %}

<h1>Kejda</h1>

<p>
Kejda hospodářských zvířat (skotu, prasat, drůbeže) je tekuté statkové hnojivo, částečně zkvašená směs tuhých a tekutých výkalů hospodářských zvířat a zbytků krmiv s podílem technologické vody a větším nebo menším množstvím steliva. Je odhadováno, že v ČR produkce kejdy v první dekádě 21. století klesá, produkce kejdy v roce 2007 (3.4) byla oproti roku 1990 (12,4) asi poloviční. Likvidace a nadprodukce kejdy prasat byla v roce 2001 vzhledem k používaným technologiím v ČR považována za problém, už s ohledem na fakt, že v ČR zemědělství po průmyslu představuje největší zdroj odpadů.
</p>

<h3>Produkce</h3>

<p>
Kvalita kejdy je mimo jiné hodnocena podle obsahu vody, přečemž řídká kejda s velkým množstvím vody je méně hodnotná než hustá. Dodržováním předepsaných technologí lze obsah vody a množství kejdy optimalizovat. Kvalita kejdy jako hnojiva, co se obsahu rostlinných živin nebo nežádoucích příměsí týče, je závislá například na druhu zvířat, jejich stáří, cílech chovu, použitých krmivech. Významné rozdíly lze pozorovat u různých způsobů odklízení výkalů.

Produkované množství kejdy podle vztahu jednotlivých složek (Fecenko, Ložek, 2000)

K = Pv + Pm + Zk + V1 + V2

K - množství kejdy v kg.kus-1.den-1
Pv - produkce tuhých výkalů
Pm - produkce moče
Zk - zbytek krmiva
V1 - voda na čištění stáje
V2 - voda potřebná na rozplavení sedimentů a odčerpání kejdy
V živočišné výrobě je pro kejdu nutné použít nádrže k dočasnému skladování, často i velkého množství tohoto materiálu. Kejdu je třeba před použitím 6 měsíců skladovat, aby se zbavila cizopasníků. Při skladování kejdy jsou odstraněny rizika infekcí, jako jsou koliformní bakterie, salmonely, spirochety, zárodky parazitů, dochází v kejdě k rozkladu látek, jenž působí na rostliny inhibičně (kyselina hippurová, kyselina močová, kyselina benzoová, ap.) a také dojde k snížení klíčivosti obsažených semen plevele.

Několikaměsíční skladovací kapacita je proto nezbytná pro ekonomické a právní důvody související s použitím kejdy jako hnojiva. Kejda je uložena v otevřených nebo uzavřených systémech různých typů (sila), kde dochází k pravidelnému míchání hmoty. Skladovací nádrže musí obsahovat rezervy pro případ havárie nebo infekce, tzv. havarijní objem.
Zákon č. 156/1998 Sb., o hnojivech (novela č. 9/2009 Sb.) a vyhláška Ministerstva zemědělství č. 274/1998 Sb., ukládá, že tekutá statková hnojiva se skladují v nepropustných nadzemních, popřípadě částečně zapuštěných nádržích, v zemních jímkách nebo v podroštových prostorech ve stájích. Způsob skladování může výrazně ovlivnit kvalitu kejdy. Kejdu je vhodné míchat s dalšími materiály, jako je seno, sláma, piliny, hobliny, což pomáhá mimo jiné také redukovat nepříjemné pachy.
</p>

{% endblock obsah %}

