{% extends "base.html.j2" %}

{%block title%}Silo{%endblock%}

{% block obsah %}

<h1> Silo </h1>

<p>
Silo je zemědělská stavba určená pro skladování sypkých materiálů. Nejčastěji se používá ke skladování zrní nebo fermentovaného krmiva – siláže. Další využití má ve stavebnictví a průmyslu, kdy slouží k uskladnění cementu, uhlí, štěrku, pilin a dřevěného odpadu, řidčeji i jiných průmyslových materiálů. Používá se i pro uskladnění pelet.

Sila se staví kovová, existují však i sila dřevěná či betonová. Nejčastějším tvarem sila je válec, ale existují i sila polokulového tvaru („bunkrové silo“).

Nejvyšší silo je postaveno v německém Ulmu (Schapfenmühle),[zdroj?] tyčí se do výše 130 m, ve 30 buňkách zde může být uskladněno téměř 80 000 t obilí; největší české silo je v Hustopečích. Má kapacitu 93 kt obilí a patří tak mezi deset největších sil v Evropě.
</p>

{% endblock obsah %}

