{% extends "base.html.j2" %}

{%block title%}Siláž{%endblock%}

{% block obsah %}



<h1>Siláž: </h1>

<p>
Siláž je krmivo pro domácí zvířata (prasata, krávy, koně atd.) vzniklé fermentováním čerstvé nebo zavadlé píce a jiných zemědělských plodin s přídavkem látek, které inhibují bakteriální činnost. V posledních letech je siláž často používána také jako vstupní materiál bioplynových stanic.
</p>

<h3>Silážování</h3>

<p>
Silážování je výrobní proces, při kterém je píce za stálého dusání ukládána do prostoru, který je pak vzduchotěsně uzavřen. V podstatě je to obdobný způsob konzervace krmiva, jako například sušení sena, navíc silážování uchovává krmivo ve šťavnatém stavu. Konzervace probíhá působením mléčného kvašení cukrů obsažených v silážované surovině bez přístupu vzduchu. Při silážování je zachován obsah živin i vitamínů použitého materiálu. Výsledná kvalita siláže je obvykle přímo úměrná kvalitě použitých surovin (druh píce, silážní zralosti, obsahu sušiny) a kvalitě zpracování i následného uskladnění. Cílem je co nejdříve vytvořit dostatečné množství kyseliny mléčné, která je základním konzervačním činitelem, čímž se dosáhne kyselosti hmoty asi pH 4 a také se zamezí vzniku nežádoucích hnilobných procesů. Při vlastním silážování se bílkoviny štěpí na jednodušší látky a glycidy (cukry) na fruktózu a glukózu.

Správné zhutnění materiálu v silážním prostoru spolu s omezením výměny plynů mezi atmosférou a silážní hmotou musí vést spolu s produkcí CO2 (vyprodukován respirací píce a mikrobiální činností) k vytvoření anaerobního prostředí.

Při nedodržení technologické procedury nebo použitím nevhodných surovin dochází k aerobní degradaci, při které se znehodnocuje siláž biochemickými pochody za přístupu vzduchu. Vzniká kyselina máselná, octová nebo mravenčí a v takovém případě výsledná siláž nepříjemně páchne a je nepoužitelná.
</p>

<h3>Senáž</h3>

<p>
Původní termín pro všechna fermentovaná krmiva je siláž. Senáž je termín, který se zavedl pro siláž s vysokým obsahem sušiny, pokud obsah sušiny přesáhne 50 %, obvykle se o takovém krmivu hovoří jako o senáži. Protože senáž obsahuje méně vody než siláž, dochází zde k poklesu tvorby kyseliny mléčné. Bakterie produkující kyselinu mléčnou potřebují ke své činnosti cukry. Senáž je tudíž druh konzervace, která je založena spíše na prostředí s malou přítomnosti kyslíku než na produkci kyseliny mléčné.
</p>










{% endblock obsah %}

